.footer {
    align-items: center;
    border-top: 2px solid #ececec;
    
    display: flex;
    justify-content: space-evenly;
    margin-left: 1%;
    margin-top: 5%;
    padding: 0.875rem;
    width: 90%;
  }
  
  .footer-logo {
    width: 15%;
    margin-right: 1rem;
  }
  
  .footer-description {
    line-height: 1.5rem;
    width: 70%;
  }
  
  .footer-content {
    font-size: 1.125rem;
    padding-bottom: 0.75rem;
  }