.video-details {
  display: flex;
  justify-content: space-between;
}

/* The video */

iframe {
  margin-left: 2%;
}
/* Details */


.details {
  border: 2px solid var(--border-elements);
  border-radius: 3px;
  line-height: 1.375rem;
  
  margin-right: 5%;
  margin-top: .35rem;
  width: 16.25rem;
  overflow: auto;
  height: 33.4rem;
}

.details-title {
  background-color: var(--light-orange-bg);
  border-bottom: 2px solid var(--border-elements);
  font-size: 1.25rem;
  font-weight: 500;
  
  padding: 0.75rem;
}

.details-content {
  font-size: 0.875rem;
  
  margin-left: 0.375rem;
  padding: 0.375rem;
}

.bold {
  font-weight: bold;
}

.universities {
  color: var(--paragraph-text-color);
  font-size: 0.75rem;
  
  margin-top: 10%;
}

.authors {
  color: var(--paragraph-text-color);
  font-size: 1rem;
  
  width: 7.813rem;
}

.scroll {
  height: 200px;
}