.carousel-main {
  background-image: url("/img/main-carousel/red-orange-gradient-bg.jpg");
  height: 31.25rem;
  background-size: cover;
  display: flex;
}

.carousel-list {
  width: 70%;
  margin: auto;
}

.image-carousel {
  max-width: 100%;
  height: 29.375rem;
  margin: 0 auto;
}

