.carousel-recommendation,
.carousel-keep-watch {
  width: 70%;
  height: 100%;
  margin: 0 auto;

}

.carousel-list__main-page {
  border-top: 5px solid var(--laranja-escuro);
  padding: 8px;
}

.image-carousel__main-page {
  max-width: 100%;
  margin: 0 auto;
}

/* Css Section "Keep Watch" */

.container-keep-watch {
  display: flex;
  justify-content: space-around;
  border-top: 5px solid var(--azul-claro);
  padding: 8px;
}
